@import './normalise.css';

:root {
  --background: #ff7371;
  --light: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
  font-size: 18px;
  color: white;
}

.container {
  max-width: 100rem;
  margin: 5rem auto;
}

.header {
  display: flex;
  justify-content: center;
}

label {
  display: block;
}
